.quizes-container{
    text-align: center;
}

.quiz-links-flex{
    background-color: grey;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    min-height: 28vh;
}

.quizes-title{
    color:white;
    font-size:8em;
    margin:10vh 0 30vh;
}
.quiz-link-container{
    background-color: transparent;

}

.quiz-link-container p{

    background-color: transparent;
    color:white;
    
    
}

.quiz-links{

    background-color: transparent;
    color:white;
    font-size:3em;
    text-decoration: none;
}