

.quiz{
    /* background-image: url(https://res.cloudinary.com/dkoe4o8w1/image/upload/v1678908790/MERN-part-1_tikuml.png);  */
    background-color: transparent;
    padding-top:100px;
    position:relative;
    text-align:center;
}
.quiz-bg-image{
    filter: grayscale(100%);
    position:absolute;
    width:98.5vw;
    height:100vh;
    top:0%;
    left:0%;
    z-index: -1;
}

.quiz-title{
    background-color: transparent;
    color:white;
    font-size: 4em;
    text-transform: capitalize;
    margin:0;
}

.answers-container{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:10px;
    margin-bottom: 60px;
}

.question{
    color:white;
    font-size:2.5em;
    margin:15vh auto 10vh;
    max-width:700px;
}

.quiz-answer{

        /* From https://css.glass */
    background: rgba(105, 104, 104, 0.341);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(105, 104, 104, 0.118);
    color:white;
    flex-basis:45%;
    font-size:2em;
    padding:10px 45px;
    width:750px;
}

.right-answer{
    background-color:green;
}

.wrong-answer{
    background-color:red;
}

/*-----------------QUIZ END------------------*/

.quiz-end-title{
    color:white;
    font-size: 3em;
}

.quiz-end-container{
    display:flex;
    flex-wrap: wrap;
    gap:20px;
    padding:50px 80px 50px 160px;
    margin-left:100px;
}

.quiz-end-board{
    /* From https://css.glass */
    background: rgba(209, 209, 209, 0.139);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(105, 104, 104, 0.151);
    width:600px;
    
}

.quiz-end-question{
    color:white;
    font-size:1.6em;
}

.quiz-end-answer{
    color:white;
    font-size:1.2em;
}

/* .title-edit h1 {
    font-size:26px; 
    font-weight:700;  
    color: white;
    letter-spacing:1px; 
    text-transform:uppercase; 
    width:160px; text-align:center; 
    margin:auto; white-space:nowrap; 
    padding-bottom:13px;
} */

/* .title-edit h1:before {
      background-color: rgb(225, 225, 69);
      content: '';
      display: block;
      height: 3px;
      width: 75px;
      margin-bottom: 5px;
  }

  .title-edit h1:after {
    background-color: rgb(225, 225, 69);
    content: '';
    display: block;
    position:absolute; right:0; bottom:0;
    height: 3px;
    width: 75px;
    margin-bottom: 0.25em;
} */