.alljobs {
    margin: 50px;
}

.all-jobs-flex{
    width:700px;
}

.linktoadd {
    color: white;
    text-decoration: none;
}

.linktoadd p {
    text-align: right;
    margin-right: 40px;
}

.linktoadd span {
    text-decoration: underline;
}

.linkalljob {
    margin: 10px 0px 10px 250px;
}


.linkalljob button {
    border: none;
    
    background: rgba(105, 104, 104, 0.341);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(105, 104, 104, 0.118);
}

.linkalljob button:hover {
   
    background: rgba(185, 185, 185, 0.341);
    cursor: pointer;
    
}

.linkalljob button:focus {

    background: rgba(185, 185, 185, 0.341);
    /* border:1px solid rgba(242, 241, 241, 0.341); */
    
}

.linkalljob h3 {
    color: white;
    padding-bottom: 2px;
    margin: 0;
}

.linkalljob h4 {
    color: white;
    margin: 0 0 20px 0;
    font-size: 10px;
}

.job-button {
    background-color: gray;
    padding-top:10px;
    text-decoration: none;
    width:300px;
}

.job-flex-container {
    display: flex;
}

.details-job {
    color: white;
    border:1px solid gray;
    margin-bottom:30px;
    min-height: 600px;
    width: 600px;
}

.details-job h3 {
    font-size: 25px;
}

.details-job h4 {
    font-size: 20px;
}

.flex-job img {
    width: 2.5vw;
}

.flex-job {
    display: flex;
    align-items: center;
}

.ruler{
    border:1px solid rgb(96, 96, 96);
    width:97%;
}

.jobs-icons{
    width:15px;
    display: inline;
}

.job-created{
    display: inline;
}

.job-info-flex{
    display:flex;
    align-items: center;
}

.block{
    display:block;
}

.job-edit-button {
    padding: 10px 60px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    background: #e8e4e43b;
    outline: none;
    text-decoration: none;
}



.title-edit {
    border-top:2px solid yellow;
    border-bottom:2px solid yellow;
    display:inline-block;
    font-size:50px; 
    font-weight:700;  
    color: white;
    letter-spacing:1px; 
    text-transform:uppercase; 
    white-space:nowrap; 
    
}

.title-edit-flex{
    display:flex;
    justify-content: center;
    margin:80px 0 40px;
}

/* .title-edit h1:before {
      background-color: rgb(225, 225, 69);
      content: '';
      display: block;
      height: 3px;
      width: 75px;
      margin-bottom: 5px;
  }

  .title-edit h1:after {
    background-color: rgb(225, 225, 69);
    content: '';
    display: block;
    position:absolute; right:0; bottom:0;
    height: 3px;
    width: 75px;
    margin-bottom: 0.25em;
} */