body {
    margin: 0;
    padding: 0;
    background-color: #090909;
}

.home-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.waviy {
    position: relative;
  }

.waviy span {
    position: relative;
    display: inline-block;
    font-size: 5vw;
    color: #fff;
    
  }

  .span1 {
    animation: 8s flip infinite;
    animation-delay: -0.5s;
  }

  .span2 {
    animation: 8s flip infinite;
    animation-delay: 0s;
  }

  .span3 {
    animation: 8s flip infinite;
    animation-delay: 0.5s;
  }

  .span4 {
    animation: 8s flip infinite;
    animation-delay: 1s;
  }

  .span5 {
    animation: 8s flip infinite;
    animation-delay: 1.5s;
  }

  .span6 {
    animation: 8s flip infinite;
    animation-delay: 2s;
  }

  .span7 {
    animation: 8s flip infinite;
    animation-delay: 2.5s;
  }

  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }

  .home-information {
    display: flex;
    margin: 8vw 0 0 0;
    padding: 2vw 8vw;
    color: white;
    background: rgba(105, 104, 104, 0.341);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(105, 104, 104, 0.118);
  }

  .home-container {
    margin: 30px;

  }

  .home-container h3, p {
    background-color: rgba(33, 32, 32, 0);
  }

  .link-home-information {
    color: white;
    background-color: rgba(33, 32, 32, 0);
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 10px;
  }

  .style-both {
    color: white;
  }

  .background-image-home {
    position: absolute;
    z-index: -1;
    width: 100%;
  }