.alljobs {
    margin: 50px;
}

.alljobs h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.linktoadd {
    color: white;
    text-decoration: none;
}

.linktoadd p {
    text-align: right;
    margin-right: 40px;
}

.linktoadd span {
    text-decoration: underline;
}

.linkalljob {
    margin: 10px 250px;
}

.linkalljob button {
    border: none;
    border-bottom: 1px solid white;
}

.linkalljob h3 {
    color: white;
    padding-bottom: 2px;
    margin: 0;
}

.linkalljob h4 {
    color: white;
    margin: 0 0 20px 0;
    font-size: 10px;
}

.link-decoration {
    text-decoration: none;
}

.job-flex-container {
    display: flex;
}

.details-job {
    color: white;
}

.details-job h3 {
    font-size: 25px;
}

.details-job h4 {
    font-size: 20px;
}

.flex-job img {
    width: 2.5vw;
}

.flex-job {
    display: flex;
    align-items: center;
}