.signup-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signupform-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #262626;
    border: none;
    margin: 20px;
    padding: 50px;
    box-shadow:  38px 38px 56px #161616,
    -25px -25px 38px #0f0f0f;
}

.signupform-box input {
    border: none;
    margin-bottom: 15px;
    color: #bfc0c0;
    background: #262626;
    padding: 20px;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: inset 5px 5px 5px #232323,
                inset -5px -5px 5px #292929;
    outline: none;
}

.signupform-box h1 {
    font-size: 2vw;
    color: white;
}

.signupform-box button {
    margin-top: 20px;
    padding: 20px 30px;
    border-radius: 40px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    background: #262626;
    box-shadow:  8px 8px 15px #202020,
                -8px -8px 15px #2c2c2c;
    transition: box-shadow .35s ease !important;
    outline: none;
}

.flex-form-end {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupform-box p {
    font-size: 0.8vw;
    color: white;
}

.login-click {
    color: white;
    text-decoration: underline;
    font-size: 0.8vw;
    margin-left: 5px;
}