.signup-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signupform-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #262626;
    border: none;
    margin: 20px;
    padding: 50px;
    box-shadow:  38px 38px 56px #161616,
    -25px -25px 38px #0f0f0f;
}

.signupform-box input {
    border: none;
    color: white;
    background-color: #d4d2d200;;
    padding: 20px 20px 5px 20px;
    font-size: 14px;
    border: none;
}

.signupform-box h1 {
    font-size: 2vw;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    text-transform: uppercase;
}

hr {
    border: 0.5px solid white;
    width: 100%;
}

.signupform-box button {
    margin-top: 20px;
    padding: 10px 60px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    background: #e8e4e43b;
    outline: none;
}

.flex-form-end {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
}

.signupform-box p {
    font-size: 0.8vw;
    color: white;
    background-color: rgba(255, 255, 255, 0);
}

.login-click {
    color: white;
    text-decoration: underline;
    font-size: 0.8vw;
    margin-left: 5px;
    background-color: rgba(255, 255, 255, 0);
}